.mainContainer {
  // height: 100%;
  // width: 100%;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  .loaderContainer {
    // background-color: red;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // margin: auto;
    // margin-top: 150px;
    // border-radius: 50%;
  }
}
